:root {
  /* Primary */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* Neutral */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}

.main-wrapper {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

main {
  width: 100%;
  position: relative;
}

#top-bg-img {
  background-image: url(../images/bg-pattern-top-mobile.svg);
  background-size: 100% 25%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 61%;
  width: 100%;
}

.content-wrapper {
  width: 100%;
  padding: 4rem 1.5rem;
}

/****** Top Section ******/

.top-section {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.presentation h1 {
  color: var(--very-dark-magenta);
  font-weight: 700;
  line-height: 1.9rem;
}

.presentation h2 {
  color: var(--dark-grayish-magenta);
  font-weight: 500;
  font-size: 14px;
  padding-top: 1.5rem;
  line-height: 1.5rem;
}

.ratings {
  margin: 2rem 0;
}

.rating {
  background-color: var(--light-grayish-magenta);
  border-radius: 5px;
  margin-bottom: 0.7rem;
}

.rating .stars {
  padding: 0.75rem 0;
}

.rating .stars img {
  margin: 0 2px;
}

.rating h4 {
  color: var(--very-dark-magenta);
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 0.7rem;
}

/****** Cards Section ******/
.card-container {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: var(--very-dark-magenta);
  margin-bottom: 2rem;
  border-radius: 5px;
  padding: 2rem 1.7rem;
}

.card #anne-card {
  margin-bottom: 0;
}

.user-name {
  color: var(--white);
  font-weight: 500;
}

.user-status {
  color: var(--soft-pink);
  font-weight: 400;
}

.testimonial {
  color: var(--light-grayish-magenta);
}

#bottom-bg-img {
  background-image: url(../images/bg-pattern-bottom-mobile.svg);
  background-size: 100% 90%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
}

/****** footer ******/
footer {
  background-color: #2b2b79;
  color: var(--light-grayish-magenta);
  padding: 0.6rem;
}

.attribution {
  font-size: 9px;
}

.attribution a {
  color: #e095f7;
}

.attribution a:hover {
  color: rgb(164, 111, 173);
}

.attribution i {
  font-size: 10px;
}
