:root {
  /* Primary */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* Neutral */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}

.main-wrapper {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

main {
  width: 100%;
  position: relative;
}

#top-bg-img {
  background-image: url(../images/bg-pattern-top-mobile.svg);
  background-size: 100% 25%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 61%;
  width: 100%;
  z-index: -1;
}

.content-wrapper {
  width: 100%;
  padding: 4rem 1.5rem;
}

/****** Top Section ******/

.top-section {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.presentation h1 {
  color: var(--very-dark-magenta);
  font-weight: 700;
  line-height: 1.9rem;
}

.presentation p {
  color: var(--dark-grayish-magenta);
  font-weight: 500;
  font-size: 14px;
  padding-top: 1.5rem;
  line-height: 1.5rem;
}

.ratings {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

.rating {
  padding: 0.75rem 0;
  background-color: var(--light-grayish-magenta);
  border-radius: 5px;
  margin-bottom: 1rem;
}

.rating .stars {
  padding: 0 1.6rem 0.75rem;
}

.rating .stars img {
  margin: 0 2px;
}

.rating h4 {
  color: var(--very-dark-magenta);
  font-size: 12px;
  font-weight: 700;
}

/****** Cards Section ******/
.card-container {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: var(--very-dark-magenta);
  margin-bottom: 2rem;
  border-radius: 10px;
  padding: 2rem 1.7rem;
  display: flex;
  flex-direction: column;
}

.card-top {
  display: flex;
  margin-bottom: 2rem;
}

.card-top img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 1.8rem;
}

.user-information h2 {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.card #anne-card {
  margin-bottom: 0;
}

.user-name {
  color: var(--white);
  font-weight: 500;
}

.user-status {
  color: var(--soft-pink);
  font-weight: 400;
}

.testimonial {
  color: var(--light-grayish-magenta);
  font-size: 1rem;
  line-height: 1.5rem;
}

#bottom-bg-img {
  background-image: url(../images/bg-pattern-bottom-mobile.svg);
  background-size: 100% 90%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  height: 31%;
  width: 100%;
  z-index: -1;
}

/****** footer ******/
footer {
  background-color: #2b2b79;
  color: var(--light-grayish-magenta);
  padding: 0.6rem;
}

.attribution {
  font-size: 9px;
}

.attribution a {
  color: #e095f7;
}

.attribution a:hover {
  color: rgb(164, 111, 173);
}

.attribution i {
  font-size: 10px;
}

/****** media queries ******/

@media only screen and (min-width: 690px) {
  .content-wrapper {
    padding: 4rem 5rem;
  }
}

@media only screen and (min-width: 790px) {
  .content-wrapper {
    padding: 4rem 6rem;
  }
}

@media only screen and (min-width: 890px) {
  .content-wrapper {
    padding: 4rem 7rem;
  }
}

@media only screen and (min-width: 1024px) {
  #top-bg-img {
    background-image: url(../images/bg-pattern-top-desktop.svg);
    background-size: 43% 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 61%;
    width: 100%;
  }

  .content-wrapper {
    padding: 7rem 10vw 5rem;
  }

  .top-section {
    flex-direction: row;
    align-items: center;
    margin-bottom: 5rem;
  }

  .presentation {
    text-align: left;
    max-width: 480px;
  }

  .presentation h1 {
    font-size: 3rem;
    line-height: 3.2rem;
  }

  .presentation p {
    font-size: 15px;
  }

  .ratings {
    width: 100%;
    align-items: flex-end;
  }

  .rating {
    width: 90%;
    max-width: 450px;
  }

  .rating h4 {
    padding: 0;
    font-size: 15px;
  }

  .card-container {
    flex-direction: row;
  }

  .card {
    max-width: 360px;
  }

  .testimonial {
    font-size: 14px;
  }

  #colton-card {
    margin-bottom: 4rem;
    margin-right: 1.5%;
  }

  #irene-card {
    margin: 2rem 1.5%;
  }

  #anne-card {
    margin-top: 4rem;
    margin-bottom: 0;
    margin-left: 1.5%;
  }

  #bottom-bg-img {
    background-image: url(../images/bg-pattern-bottom-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 73%;
    height: 260%;
  }
}

@media only screen and (min-width: 1310px) {
  .presentation h1 {
    font-size: 3.3rem;
    line-height: 3.5rem;
  }

  .presentation p {
    padding-top: 0.8rem;
  }

  .ratings {
    padding-left: 5%;
  }

  .rating {
    display: flex;
  }

  #reviews-rating {
    margin-right: 2rem;
  }

  #report-guru-rating {
    margin-right: 1rem;
  }

  #best-tech-rating {
    margin-left: 0;
  }

  .ratings .stars {
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .content-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    padding: 7rem 9rem 4rem;
  }

  #reviews-rating {
    margin-right: 5rem;
  }

  #report-guru-rating {
    margin-right: 2.5rem;
  }

  #best-tech-rating {
    margin-left: 0;
  }
}
